:root{
    --text-font-family: 'Roboto' ;
}

h1,h2,h3 {
    font-family: var(--text-font-family);
}

ul {
    list-style-type: none;
}

.global-header {
    background-color:#FFF
}

.hero-section {
    background-color:#2F303A ;
}
.hero-heading{
    color: #FFF;

}
.button {
    color: #FFF;
text-align: center;
font-size: 16px;
font-family: var(--text-font-family);
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
background-color: #2196F3;
}